html
{
    scroll-behavior: smooth; /* disabled on search.html for js animation */
}

body
{
    background-color: #f4f7f8;
}

.masthead
{
    min-height: 75%;
    min-height: 75vh;
    overflow: auto;
    padding-top: 10%;
    padding-top: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Parallax effect */

    display: flex;
    align-items: center;

}

#mastheadIndex
{
    background-image: url('../images/iomBackgroundDark.jpg');
}

#masthead-text
{
    font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif; 
}

#results-container
{
    border-top: 1px solid grey;
}

.results-text
{
    line-height: 1.0;
}

#results
{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -5vh;
}

.result
{
    background-color: rgb(232, 230, 230);

    box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;

    margin-left: 1%;
    margin-right: 1%;
}

/* Extra small devices */
@media (max-width: 575px)
{
    .result-width { min-width: 97%; }
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px)
{
    .result-width { min-width: 97%; }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px)
{
    .result-width { min-width: 49%; }
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px)
{
    .result-width { min-width: 31%; }
}

/* Extra large devices */
@media (min-width: 1200px)
{
    .result-width { min-width: 31%; }
}

/* About page */
#aboutMasthead
{
    box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    background-color: #f4f7f8;
}

.progress
{
    height: auto;
    margin-bottom: 1vh;
    background-color: lightgrey;
}

.progress-text
{
    text-align: left !important;
    margin-left: 1vw;
    font-size: 170%;
}

/* Extra small devices */
@media (max-width: 575px)
{
    svg { width: 20vw; height: 20vw; }
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px)
{
    svg { width: 15vw; height: 15vw; }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px)
{
    svg { width: 10vw; height: 10vw; }
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px)
{
    svg { width: 10vw; height: 10vw; }
}

/* Extra large devices */
@media (min-width: 1200px)
{
    svg { width: 7vw; height: 7vw; }
}

#mastheadAbout
{
    background-image: url('../images/iomBackgroundDark.jpg');
}