html
{
    scroll-behavior: smooth; /* disabled on search.html for js animation */
}

body
{
    background-color: #f4f7f8;
}

@media only screen and (max-width: 1199px) /* md or smaller */
{
    .text-md-center
    {
        text-align: center;
    }

    #searchbar-masthead
    {
        margin-top: 7vh;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 10vh;
    }

    .masthead-index
    {
        min-height: 75vh;
        padding-top: 10vh;
        background-image: url('../images/iomBackground.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Parallax effect */
    }

    .masthead-search
    {
        min-height: 75vh;
        padding-top: 10vh;
        background-image: url('../images/iomBackground2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Parallax effect */
    }

    .search-button
    {
        margin-top: 7vh;
    }

    select
    {
        margin-top: 1.5vh;
    }
    
    .property-image
    {
        border-radius: 5%;
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) /* md */
{
    .result
    {
        min-width: 50%;
    }
}

@media only screen and (max-width: 768px) /* sm */
{
    .result
    {
        min-width: 100%;
    }

    
}

@media only screen and (max-width: 767px)
{
    .sm-seperator
    {
        width: 100%;
        margin-top: 7vh;
        height: 7vh;
        border-top: 1px solid grey;
    }
}

.seperator
{
    width: 100%;
    margin-top: 7vh;
    height: 7vh;
    border-top: 1px solid grey;
}

.progress
{
    height: auto;
    margin-bottom: 1vh;
    background-color: lightgrey;
}

.progress-text
{
    text-align: left !important;
    margin-left: 1vw;
    font-size: 170%;
}

.display-5
{
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.3;
}



@media only screen and (min-width: 768px) /* lg */
{

    .result
    {
        min-width: 33.333%;
    }

    .text-md-center
    {
        text-align: left !important;
    }

    #searchbar-masthead
    {
        margin-top: 7vh;
        margin-left: 25%;
        width: 50%;
        margin-bottom: 10vh;
    }

    .masthead-index
    {
        min-height: 75vh;
        padding-top: 20vh;
        background-image: url('../images/iomBackground.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Parallax effect */
    }

    .masthead-search
    {
        min-height: 75vh;
        padding-top: 20vh;
        background-image: url('../images/iomBackground2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Parallax effect */
    }

    .property-image
    {
        border-radius: 5%;
        width: 100%;
        height: auto;
    }

    #search-button-div
    {
        margin-top: 7vh;
        width: 50% !important;
        margin-left: 25% !important;
    }
}

footer
{
    margin-top: 5vh;
}

.results-text
{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 0.8;
}

@media only screen and (max-height: 600px)
{
    #scrollDownText
    {
        opacity: block;
    }

    svg
    {
        width: auto;
        height: 20vh;
        
        display: block;
        margin: auto;
    
        margin-top: 5vh;
    }

}

@media only screen and (min-height: 600px)
{
    #scrollDownText
    {
        display: none;
    }

    
    svg
    {
        width: auto;
        height: 10vh;
        
        display: block;
        margin: auto;
    
        margin-top: 5vh;
    }
}