#image-break
{
    #diagonal
    {
        z-index: 999;
        background: rgb(100,100,100);
        background: linear-gradient(to left top, rgba(0, 0, 0, 0) 50%,$cardBackgroundColour 51%);
        height: 15vh;
        width: 100%;

        padding: -3vw;
        margin:0;
    }

    position: relative;
    height: 40vh;
    background-image: url("../images/iomBackgroundDark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    #footer-block
    {
        box-shadow: $shadow;
        position: absolute;
        bottom: 2%;
        padding-bottom: 1vh;
        left: 25%;
        width: 50%;

        @include md-down
        {
            width: 80%;
            left: 10%;
        }
    }
}