#image-break
{
    #diagonal
    {
        z-index: 999;
        background: rgb(100,100,100);
        background: linear-gradient(to left top, rgba(0, 0, 0, 0) 50%,$cardBackgroundColour 51%);
        height: 15vh;
        width: 100%;

        padding: -3vw;
        margin:0;

        @include md-down
        {
            height: 10vh;
        }
    }

    position: relative;
    height: 40vh;

    @include xxs-down
    {
        height: 60vh;
    }

    background-image: url("../images/iomBackgroundDark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

#footer-block-index
{
    position: absolute;
    bottom: 2%;
    padding: 0;
    padding-bottom: 1vh;
    left: 25%;
    width: 50%;

    @include md-down
    {
        width: 80%;
        left: 10%;
    }

    .card
    {
        .card-body
        {
            box-shadow: $shadow;
            padding: 1%;
        }
    }
}

#footer-block
{

    width: 100%;

    .card
    {
        .card-body
        {
            box-shadow: $shadow;
            padding: 1%;
        }
    }
}