$graph-width: 80%;
$graph-width-sm: 95%;

#graph
{
    margin-top: -15vh;
    background-color: rgb(250, 250, 250);
    border-radius: .3em;
    
    box-shadow: $shadow;

    width: $graph-width;
    margin-left: (100 - $graph-width) / 2;
    padding: 3%;

    @include sm-down
    {
        padding: 1%;
        width: $graph-width-sm;
        margin-left: (100 - $graph-width-sm) / 2;
    }

    #chart-container
    {
        position:relative;
        width: 100%;
        height: 40vh;

        @include sm-down
        {
            height: 50vh;
        }
    }

    #background
    {
        float: right;
        height: 1vh;
        width: 5vh;
        
        background: rgb(46,208,110);
        background: linear-gradient(90deg, rgba(46,208,110,1) 0%, rgba(0,123,255,1) 100%);

        margin-top: 0.6%;
    }

    #text
    {
        float: right;
        margin-right: 3%;
        margin-left: 1%;
    }
        
}

#bottom-text
{
    width: 80%;
    margin-left: (100 - $graph-width) / 2;
}