@import "_variables.scss";
@import "_navbar.scss";
@import "_header.scss";
@import "_graph.scss";
@import "_cards.scss";
@import "_footer.scss";

html
{
    scroll-behavior: smooth;
    background-color: $backgroundColour;
}

.btn
{
    border-width: 4px;
}

.btn-success
{
    background-color: $complimentaryColour !important;
    border-color: $complimentaryColour !important;
}