.navbar-toggler-icon {
  color: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.navbar-transparent {
  background-color: transparent !important;
  background: transparent !important;
  border-color: transparent !important;
  position: absolute;
  width: 100%;
}

.navbar-full {
  background-color: #007bff;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  .nav-link {
    background: #007bff;
  }
}

.navbar-collapse {
  z-index: 9999;
}

.nav-link-active {
  color: rgba(250, 250, 250, 0.699) !important;
  font-weight: bold;
}

header {
  padding-top: 19vh;
  padding-bottom: 15vh;
  background-image: url("../images/iomBackgroundDark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #37517e !important;
}

@media only screen and (max-width: 400px) {
  header {
    padding-top: 13vh;
  }
}

header h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 2px 2px black;
}

@media only screen and (max-width: 576px) {
  header #form {
    margin-top: 5vh;
  }
}

header b {
  font-size: 1em;
}

header p {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}

header svg {
  width: 30px;
  height: 30px;
  fill: white;
}

header .custom-select, header .searchbar {
  height: 45px;
}

#graph {
  margin-top: -15vh;
  background-color: #fafafa;
  border-radius: .3em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin-left: 10%;
  padding: 3%;
}

@media only screen and (max-width: 768px) {
  #graph {
    padding: 1%;
    width: 95%;
    margin-left: 2.5%;
  }
}

#graph #chart-container {
  position: relative;
  width: 100%;
  height: 40vh;
}

@media only screen and (max-width: 768px) {
  #graph #chart-container {
    height: 50vh;
  }
}

#graph #background {
  float: right;
  height: 1vh;
  width: 5vh;
  background: #2ed06e;
  background: -webkit-gradient(linear, left top, right top, from(#2ed06e), to(#007bff));
  background: linear-gradient(90deg, #2ed06e 0%, #007bff 100%);
  margin-top: 0.6%;
}

#graph #text {
  float: right;
  margin-right: 3%;
  margin-left: 1%;
}

#bottom-text {
  width: 80%;
  margin-left: 10%;
}

#cards-container {
  padding: 3%;
  background: #f0f0f0;
}

#cards-container h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

#cards-container .card {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 5vh;
  padding-top: 3%;
}

@media only screen and (max-width: 768px) {
  #cards-container .card {
    min-width: 90%;
  }
}

#cards-container .card svg {
  width: auto;
  height: 100px;
  fill: url(#card-gradient) #2ed06e;
}

#cards-container .card p:not(a) {
  color: #646464;
}

#image-break {
  position: relative;
  height: 70vh;
  background-image: url("../images/iomBackgroundDark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#image-break #diagonal {
  z-index: 999;
  background: #646464;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(51%, #f0f0f0));
  background: linear-gradient(to left top, rgba(0, 0, 0, 0) 50%, #f0f0f0 51%);
  height: 15vh;
  width: 100%;
  padding: -3vw;
  margin: 0;
}

#image-break #footer-block {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 2%;
  left: 25%;
  width: 50%;
}

@media only screen and (max-width: 992px) {
  #image-break #footer-block {
    width: 80%;
    left: 10%;
  }
}

.custom-select, .searchbar {
  height: 45px;
}

#search-header {
  padding: 0;
  background-image: url("../images/path.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#search-container {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  padding: 1%;
}

@media only screen and (max-width: 768px) {
  #search-container {
    max-width: 94%;
  }
}

#search-container svg {
  width: 30px;
  height: 30px;
  fill: white;
}

#search-container .btn-tertiary {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

#search-container #loadingText {
  font-size: 1.2em;
}

#search-container #errorText {
  font-size: 1.2em;
  color: red;
}

#diagonal-search {
  z-index: 999;
  background: #f0f0f0;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(51%, #f0f0f0));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 50%, #f0f0f0 51%);
  height: 15vh;
  width: 100%;
  padding: -3vw;
  margin: 0;
}

#results-container {
  background-color: #f0f0f0;
}

#results {
  background-color: #f0f0f0;
}

#results .card {
  min-width: 27%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 5vh;
}

@media only screen and (max-width: 992px) {
  #results .card {
    min-width: 31%;
  }
}

#results .card .card-img-top {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
  background: #2ed06e;
  /* background: linear-gradient(180deg, $complimentaryColour 0%, $mainColour 50%, rgba(253,187,45,0) 100%); */
}

html {
  scroll-behavior: smooth;
  background-color: #ececec;
}

.btn {
  border-width: 4px;
}

.btn-success {
  background-color: #2ed06e !important;
  border-color: #2ed06e !important;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

h4, h3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */