.nav-link-active
{
	color: rgba(250, 250, 250, 0.699) !important;
	font-weight: bold;
}

.navbar {
    background-color: #0069d9;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #e7e7e7;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #e7e7e7;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #e7e7e7; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #e7e7e7;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #e7e7e7;
    background-color: #3f8bdb;
  }
  .navbar .navbar-toggle {
    border-color: #3f8bdb;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #3f8bdb;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #e7e7e7;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e7e7e7;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e7e7e7;
      background-color: #3f8bdb;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e7e7e7;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e7e7e7;
      background-color: #3f8bdb;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e7e7e7;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e7e7e7;
      background-color: #3f8bdb;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e7e7e7;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e7e7e7;
      background-color: #3f8bdb;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e7e7e7;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e7e7e7;
    background-color: #3f8bdb;
  }